<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666592409282-oijuv9ol3jjuhgvj8o5aijjtoe7ulvu9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666592409282-oijuv9ol3jjuhgvj8o5aijjtoe7ulvu9</string>
	<key>API_KEY</key>
	<string>AIzaSyDf52hng6ZHT8kWunBLzKJeBgUYbyhT3AE</string>
	<key>GCM_SENDER_ID</key>
	<string>666592409282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AnnaCardon.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-35191</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-35191.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666592409282:ios:cce9bccde0907f746ded5b</string>
</dict>
</plist>